mixin catalogItem(img,name,transmission,period,price,cost)
	+b.catalog-item
		+e.img-wrap
			.swiper.catalog-item-slider.catalog-item-slider--js
				.swiper-wrapper
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
				.swiper-pagination
		+e.text-wrap
			+e.about
				+e.name!= name
				+e.transmission!= transmission
			+e.total
				+e.period!= period
				+e.price!= price
			+e.more
				+e.cost!= cost
				+e.details(href="#") Подробнее
			+btn('Заказать в 1 клик').btn.btn-primary


mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Посуточная аренда авто без водителя в&nbsp;Москве				
			+e.catalog-row.row
				.col-12.col-lg-9
					+e.items-row.row
						.col.col-md-auto
							+catalogItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
						.col.col-md-auto
							+catalogItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
						.col.col-md-auto
							+catalogItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
						.col.col-md-auto
							+catalogItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
						.col.col-md-auto
							+catalogItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
						.col.col-md-auto
							+catalogItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
						.col.col-md-auto
							+catalogItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
						.col.col-md-auto
							+catalogItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
				.col-lg-3
					+b.catalog-summary
						+e.title Весь парк A7 RENT
						+e.reset(href="#") Сбросить
						+e.list.DL
							+e.list-row(href="#")
								dt Без залога
								dd 876
						+e.list.DL
							+e.list-row.--chosen(href="#")
								dt На механике
								dd 259
							+e.list-row(href="#")
								dt На автомате
								dd 215
						+e.list.DL
							+e.list-row(href="#")
								dt Эконом
								dd 563
							+e.list-row(href="#")
								dt Бизнес
								dd 185
							+e.list-row(href="#")
								dt Премиум
								dd 29
						+e.list.DL
							+e.list-row(href="#")
								dt 
									+img('img/sedan.png')
									| Седан
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/hatchback.png')
									| Хэтчбек
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/minivan.png')
									| Минивен
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/suv.png')
									| Внедорожник
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/coupe.png')
									| Купе
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/pickup-truck.png')
									| Пикап
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/roadster.png')
									| Родстер
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/station-wagon.png')
									| Универсал
								dd 563
							+e.list-row(href="#")
								dt 
									+img('img/van.png')
									| Фургон
								dd 563
						+e.list.DL
							+e.list-row(href="#")
								dt 
									+img('img/audi.png')
									| Audi
								dd 876
							+e.list-row(href="#")
								dt 
									+img('img/bmw.png')
									| BMW
								dd 259

	// end sCatalog
