mixin catalogTileItem(img,name,transmission,period,price,cost)
	+b.catalog-tile-item
		+e.img-wrap
			.swiper-container.catalog-item-slider.catalog-item-slider--js
				.swiper-wrapper
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
				.swiper-pagination
		+e.text-wrap
			+e.head.row 
				+e.about.col
					+e.name!= name
					+e.transmission!= transmission
			
				+e.total.col-auto
					+e.period!= period
					+e.price!= price
			.row  
				+e.more.col
					+e.cost!= cost
					+e.details(href="#") Подробнее
				.col-auto
					+btn('Заказать в 1 клик').btn.btn-primary


mixin sCatalog(tile,table,string)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Посуточная аренда авто без водителя в&nbsp;Москве				
			+e.filter-row
				+form-wrap.--row
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Механика')
						+in-c('checkbox','Автомат')
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Седан')
						+in-c('checkbox','Хэтчбек')
						+in-c('checkbox','Минивен')
						+in-c('checkbox','Внедорожник')
						+in-c('checkbox','Купе')
						+in-c('checkbox','Пикап')
						+in-c('checkbox','Родстер')
						+in-c('checkbox','Универсал')
						+in-c('checkbox','Фургон')
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Lada')
						+in-c('checkbox','Kia')
						+in-c('checkbox','Hyundai')
						+in-c('checkbox','Renault')
						+in-c('checkbox','Toyota')
						+in-c('checkbox','Volkswagen').--chosen
						+in-c('checkbox','Audi')
						+in-c('checkbox','BMW')
						+in-c('checkbox','Mercedes Benz')
					.properties-select.d-block.d-lg-none
						+select('','Любая коробка','Механика','Автомат')
						+select('','Любой кузов','Седан','Хэтчбек','Минивен','Внедорожник')
						+select('','Любая марка')
					+b.filter-result
						+e.left
							+e.all(href="#") 
								+e.all-text Все фильтры
								+e.all-number 9
							+e.reset(href="#") Сбросить
							+e.founded 
								+e.founded-text Найдено 68 авто из 876
								+e.founded-sort.d-block.d-lg-none 
									button.active
										+icon('arrow-down')
									button
										+icon('arrow-up')
						+e.right
							+e.price-filter
								button.active По убыванию цены
								button По возрастанию цены
							+e.display.d-none.d-lg-block
								button.active
									+icon('square')
								button
									+icon('stroke')
								button
									+icon('lines')

			+e.catalog-row.row
				+e.left.col-12.col-lg-9
					if tile 
						+e.tile.row
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
					if table
						+e.tabular
							+e.table-wrap
								table.table.table-bordered.align-middle(style="border-radius:8px")
									thead
										tr
											th Автомобиль
											th Описание
											th 1-2 сут.
											th 3-5 сут.
											th 6-13 сут.
											th 14-29 сут.
											th от 30 сут.
											th Итого на 6 сут.
											th 
									tbody
										mixin rentTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 2900 ₽
												td 2755 ₽
												td 2610 ₽
												td 2320 ₽
												td 2175 ₽
												td 16530 ₽
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentTr
										+rentTr
										+rentTr
										+rentTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Цена в сутки (от 30 суток)
											th Итого в месяц
											th
									tbody
										mixin rentSmTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 16530 ₽
												td 16530 ₽
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentSmTr
										+rentSmTr
										+rentSmTr
										+rentSmTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Выкуп за 12 мес.
											th Выкуп за 24 мес.
											th Выкуп за 36 мес.
											th Первый взнос
											th Итого в сутки на 36 мес.
											th
									tbody
										mixin rentBuyoutTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 2560 ₽/сут.
												td 2560 ₽/сут.
												td 2560 ₽/сут.
												td 0 ₽
												td 900 ₽/сут.
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentBuyoutTr
										+rentBuyoutTr
										+rentBuyoutTr
										+rentBuyoutTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Цена в час
											th Мин. заказ
											th Включено пробега
											th Перепробег
											th Итого 3+1 (вкл. 100 км)
											th
									tbody
										mixin rentHourlyTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 1500 ₽
												td 3+1 час
												td 25 км/час
												td 6 ₽/км
												td 6000 ₽
												td.action-td
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
					if string
						+e.string
							mixin catalogStringItem(img,name,caption,descr,tariff,note,price,period,totalPrice,...priceItems)
								+b.string-item
									+e.slider
										.swiper-container.catalog-item-slider.catalog-item-slider--js
											.swiper-wrapper
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
											.swiper-pagination
									+e.features
										+e.name!= name
										+e.caption!= caption
										+e.descr!= descr
										if tariff
											+e.tariff.t-tabs
												+e.tariff-caption.t-tabs__list Тариф
													.t-tabs__btn(data-tabs-path="1") 1
													.t-tabs__btn.t-tabs__btn--active(data-tabs-path="2") 2
													.t-tabs__btn(data-tabs-path="3") 3
													.t-tabs__btn(data-tabs-path="4") 4
													.t-tabs__btn(data-tabs-path="5") 5
												.t-tabs__content(data-tabs-target="1") 1 900 ₽
												.t-tabs__content.t-tabs__content--active(data-tabs-target="2") 2 900 ₽
												.t-tabs__content(data-tabs-target="3") 3 900 ₽
												.t-tabs__content(data-tabs-target="4") 4 900 ₽
												.t-tabs__content(data-tabs-target="5") 5 900 ₽
										if note
											+e.note!= note
									+e.price-block
										+e.price
											+e.price-title!= price
											each item in priceItems
												+e.price-items= item
										+e.total
											+e.period!= period
											+e.total-price= totalPrice 
											+btn('Заказать в 1 клик').btn.btn-primary
											+e.details(href="#") Подробнее
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 6 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 3+1 часа (включено 100 км)','16 530 ₽','Минимальная аренда 3 часа','Т+1 час на подачу','На 1 час включено 25 км пробега','Перепробег: 6 ₽/км')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 6 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
					+e.show-more.BUTTUN.btn
						+icon('reload')
						| Показать еще авто
				+e.right.col-lg-3
					+b.catalog-summary.d-none.d-lg-flex.FORM
						+e.title Весь парк A7 RENT
						+e.reset(href="#") Сбросить
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Без залога
								div 876
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label На механике
								div 259
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label На автомате
								div 215
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Эконом
								div 563
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Бизнес
								div 185
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Премиум
								div 29
						+e.list
							+e.item
								+img('img/sedan.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Седан
								div 563
							+e.item
								+img('img/hatchback.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Хэтчбек
								div 563
							+e.item
								+img('img/minivan.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Минивен
								div 563
							+e.item
								+img('img/suv.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Внедорожник
								div 563
							+e.item
								+img('img/coupe.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Купе
								div 563
							+e.item
								+img('img/pickup-truck.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Пикап
								div 563
							+e.item
								+img('img/roadster.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Родстер
								div 563
							+e.item
								+img('img/station-wagon.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Универсал
								div 563
							+e.item
								+img('img/van.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Фургон
								div 563
						+e.list
							+e.item
								+img('img/audi.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Audi
								div 876
							+e.item
								+img('img/bmw.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label BMW
								div 876
							+e.item
								+img('img/audi.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Audi
								div 876
							+e.item
								+img('img/bmw.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label BMW
								div 876

	// end sCatalog
