mixin catalogTileItem(img,name,transmission,period,price,cost)
	+b.catalog-tile-item
		+e.img-wrap
			.swiper-container.catalog-item-slider.catalog-item-slider--js
				.swiper-wrapper
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
					.swiper-slide
						+img(`img/catalog-${img}.jpg`)
				.swiper-pagination
		+e.text-wrap
			+e.head.row 
				+e.about.col
					+e.name!= name
					+e.transmission!= transmission
			
				+e.total.col-auto
					+e.period!= period
					+e.price!= price
			.row  
				+e.more.col
					+e.cost!= cost
					+e.details(href="#") Подробнее
				.col-auto
					+btn('Заказать в 1 клик').btn.btn-primary


mixin sCatalog(tile,table,string)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Посуточная аренда авто без водителя в&nbsp;Москве				
			+e.filter-row
				+form-wrap.--row
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Механика')
						+in-c('checkbox','Автомат')
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Седан')
						+in-c('checkbox','Хэтчбек')
						+in-c('checkbox','Минивен')
						+in-c('checkbox','Внедорожник')
						+in-c('checkbox','Купе')
						+in-c('checkbox','Пикап')
						+in-c('checkbox','Родстер')
						+in-c('checkbox','Универсал')
						+in-c('checkbox','Фургон')
					.properties-row
						+in-c('checkbox','Все').--all
						+in-c('checkbox','Lada')
						+in-c('checkbox','Kia')
						+in-c('checkbox','Hyundai')
						+in-c('checkbox','Renault')
						+in-c('checkbox','Toyota')
						+in-c('checkbox','Volkswagen').--chosen
						+in-c('checkbox','Audi')
						+in-c('checkbox','BMW')
						+in-c('checkbox','Mercedes Benz')
					.properties-select.d-block.d-lg-none
						+select('','Любая коробка','Механика','Автомат')
						+select('','Любой кузов','Седан','Хэтчбек','Минивен','Внедорожник')
						+select('','Любая марка')
					+b.filter-result
						+e.left
							+e.all(href="#") 
								+e.all-text.btn-tab-js(data-tab-block="all-filters") Все фильтры
								+filter()
								+e.all-number 9
							+e.reset(href="#") Сбросить
							+e.founded 
								+e.founded-text Найдено 68 авто из 876
								+e.founded-sort.d-block.d-lg-none 
									button.active
										+icon('arrow-down')
									button
										+icon('arrow-up')
						+e.right
							+e.price-filter
								button.active По убыванию цены
								button По возрастанию цены
							+e.display.d-none.d-lg-block
								button.active
									+icon('square')
								button
									+icon('stroke')
								button
									+icon('lines')

			+e.catalog-row.row
				+e.left.col-12.col-lg-9
					if tile 
						+e.tile.row
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('1','Ravon NEXIA&nbsp;R3','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('2','Renault SYMBOL','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;30&nbsp;суток','99 530&nbsp;₽','1540&nbsp;₽ от&nbsp;30&nbsp;сут.')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('3','Lada VESTA','2013, МТ, 1.6&nbsp;л.','Выкуп за&nbsp;36&nbsp;мес','900&nbsp;₽','900&nbsp;&mdash; 2560&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('4','Chevrolet CRUZE','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;3+1 часа (включено 100&nbsp;км)','99 530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('5','Kia RIO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
							+e.catalog-item-col.col.col-md-auto
								+catalogTileItem('6','Volkswagen POLO','2013, МТ, 1.6&nbsp;л.','Итого за&nbsp;6&nbsp;суток','16&nbsp;530&nbsp;₽','1540&nbsp;&mdash; 1880&nbsp;₽')
					if table
						+e.tabular
							+e.table-wrap
								table.table.table-bordered.align-middle(style="border-radius:8px")
									thead
										tr
											th Автомобиль
											th Описание
											th 1-2 сут.
											th 3-5 сут.
											th 6-13 сут.
											th 14-29 сут.
											th от 30 сут.
											th Итого на 6 сут.
											th 
									tbody
										mixin rentTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 2900 ₽
												td 2755 ₽
												td 2610 ₽
												td 2320 ₽
												td 2175 ₽
												td 16530 ₽
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentTr
										+rentTr
										+rentTr
										+rentTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Цена в сутки (от 30 суток)
											th Итого в месяц
											th
									tbody
										mixin rentSmTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 16530 ₽
												td 16530 ₽
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentSmTr
										+rentSmTr
										+rentSmTr
										+rentSmTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Выкуп за 12 мес.
											th Выкуп за 24 мес.
											th Выкуп за 36 мес.
											th Первый взнос
											th Итого в сутки на 36 мес.
											th
									tbody
										mixin rentBuyoutTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 2560 ₽/сут.
												td 2560 ₽/сут.
												td 2560 ₽/сут.
												td 0 ₽
												td 900 ₽/сут.
												td.action-td 
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentBuyoutTr
										+rentBuyoutTr
										+rentBuyoutTr
										+rentBuyoutTr
							+e.table-wrap
								table.table.table-bordered.align-middle
									thead
										tr
											th Автомобиль
											th Описание
											th Цена в час
											th Мин. заказ
											th Включено пробега
											th Перепробег
											th Итого 3+1 (вкл. 100 км)
											th
									tbody
										mixin rentHourlyTr
											tr
												td Mercedes Benz SLK Classe
												td 2013, MT, 1.6
												td 1500 ₽
												td 3+1 час
												td 25 км/час
												td 6 ₽/км
												td 6000 ₽
												td.action-td
													a.td-details(href="#") Подробнее
													button.btn.btn-primary Заказать в 1 клик
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
										+rentHourlyTr
					if string
						+e.string
							mixin catalogStringItem(img,name,caption,descr,tariff,note,price,period,totalPrice,...priceItems)
								+b.string-item
									+e.slider
										.swiper-container.catalog-item-slider.catalog-item-slider--js
											.swiper-wrapper
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
												.swiper-slide
													+img(`img/catalog-${img}.jpg`)
											.swiper-pagination
									+e.features
										+e.name!= name
										+e.caption!= caption
										+e.descr!= descr
										if tariff
											+e.tariff.t-tabs
												+e.tariff-caption.t-tabs__list Тариф
													.t-tabs__btn(data-tabs-path="1") 1
													.t-tabs__btn.t-tabs__btn--active(data-tabs-path="2") 2
													.t-tabs__btn(data-tabs-path="3") 3
													.t-tabs__btn(data-tabs-path="4") 4
													.t-tabs__btn(data-tabs-path="5") 5
												.t-tabs__content(data-tabs-target="1") 1 900 ₽
												.t-tabs__content.t-tabs__content--active(data-tabs-target="2") 2 900 ₽
												.t-tabs__content(data-tabs-target="3") 3 900 ₽
												.t-tabs__content(data-tabs-target="4") 4 900 ₽
												.t-tabs__content(data-tabs-target="5") 5 900 ₽
										if note
											+e.note!= note
									+e.price-block
										+e.price
											+e.price-title!= price
											each item in priceItems
												+e.price-items= item
										+e.total
											+e.period!= period
											+e.total-price= totalPrice 
											+btn('Заказать в 1 клик').btn.btn-primary
											+e.details(href="#") Подробнее
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 6 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 3+1 часа (включено 100 км)','16 530 ₽','Минимальная аренда 3 часа','Т+1 час на подачу','На 1 час включено 25 км пробега','Перепробег: 6 ₽/км')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Аренда от 3 до 5 суток','22755 ₽ в&nbsp;сутки','Итого за 6 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','','','22755 ₽ в&nbsp;сутки','Итого за 30 суток','16 530 ₽','Без залога','Только паспорт и права','Проверка 20 минут')
							+catalogStringItem('1','Ravon NEXIA R3','2013, внедорожник, цвет белый','Автомат, бензин (3.0/250), задний, дверей 5, мест 5, люк, фаркоп, рейлинги, тонировка','tariff','Выкуп за 24 месяца','от 900 ₽ в&nbsp;сутки','Итого в&nbsp;сутки при выкупе на 24 мес.','900 ₽','Первый взнос 0 ₽ ','Без залога','Только паспорт и права','Проверка 20 минут')
					+e.show-more.BUTTUN.btn
						+icon('reload')
						| Показать еще авто
				+e.right.col-lg-3
					+b.catalog-summary.d-none.d-lg-flex.FORM
						+e.title Весь парк A7 RENT
						+e.reset(href="#") Сбросить
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Без залога
								div 876
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label На механике
								div 259
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label На автомате
								div 215
						+e.list
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Эконом
								div 563
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Бизнес
								div 185
							+e.item
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Премиум
								div 29
						+e.list
							+e.item
								+img('img/sedan.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Седан
								div 563
							+e.item
								+img('img/hatchback.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Хэтчбек
								div 563
							+e.item
								+img('img/minivan.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Минивен
								div 563
							+e.item
								+img('img/suv.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Внедорожник
								div 563
							+e.item
								+img('img/coupe.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Купе
								div 563
							+e.item
								+img('img/pickup-truck.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Пикап
								div 563
							+e.item
								+img('img/roadster.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Родстер
								div 563
							+e.item
								+img('img/station-wagon.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Универсал
								div 563
							+e.item
								+img('img/van.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Фургон
								div 563
						+e.list
							+e.item
								+img('img/audi.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Audi
								div 876
							+e.item
								+img('img/bmw.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label BMW
								div 876
							+e.item
								+img('img/audi.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label Audi
								div 876
							+e.item
								+img('img/bmw.png')
								label.custom-input.form-check
									input.custom-input__input.form-check-input(type="checkbox")
									span.custom-input__text.form-check-label BMW
								div 876

	// end sCatalog


mixin filter()
	#all-filters.tab-block.tab-block--js
		.s-catalog-filter__body.container
			.modal-filter.row
				.col-xl-4.col-lg-6
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 0
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 1
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 2
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 3
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 4
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 5
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 6
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 7
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 8
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 9
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 10
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&acy;&rcy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 11
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 0
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 1
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 2
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 3
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 4
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 5
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 6
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 7
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 8
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 9
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 10
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&ocy;&dcy;&iecy;&lcy;&softcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&yacy; 11
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &TScy;&iecy;&ncy;&acy;, &Rcy;:
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.modal-filter__range-wrap.showhide-all__inner
							input.input-range(data-max='10000' data-min='0' type='text')
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Kcy;&Pcy;&Pcy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Rcy;&ucy;&chcy;&ncy;&acy;&yacy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Acy;&vcy;&tcy;&ocy;&mcy;&acy;&tcy;
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Gcy;&ocy;&dcy; &vcy;&ycy;&pcy;&ucy;&scy;&kcy;&acy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.modal-filter__range-wrap.showhide-all__inner
							input.input-range(data-max='2018' data-min='2000' type='text')
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Tcy;&icy;&pcy; &kcy;&ucy;&zcy;&ocy;&vcy;&acy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Scy;&iecy;&dcy;&acy;&ncy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &KHcy;&iecy;&tcy;&chcy;&bcy;&ecy;&kcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&acy;&lcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Vcy;&ncy;&iecy;&dcy;&ocy;&rcy;&ocy;&zhcy;&ncy;&icy;&kcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Kcy;&acy;&bcy;&rcy;&icy;&ocy;&lcy;&iecy;&tcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Kcy;&ucy;&pcy;&iecy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&icy;&ncy;&icy;&vcy;&ecy;&ncy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Pcy;&icy;&kcy;&acy;&pcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Fcy;&ucy;&rcy;&gcy;&ocy;&ncy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Mcy;&icy;&kcy;&rcy;&ocy;&acy;&vcy;&tcy;&ocy;&bcy;&ucy;&scy;
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &TScy;&vcy;&iecy;&tcy; &kcy;&ucy;&zcy;&ocy;&vcy;&acy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							.color-custom
								input#color-1.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-1' style='background:#231f20;')
							.color-custom.color-custom-light
								input#color-2.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-2' style='background:white;')
							.color-custom.color-custom-light
								input#color-3.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-3' style='background:linear-gradient(to top, #dcdcdc 0%, #f8f8f8 100%);')
							.color-custom
								input#color-4.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-4' style='background:#9c9999;')
							.color-custom
								input#color-5.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-5' style='background:#334dff;')
							.color-custom
								input#color-6.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-6' style='background:#fc4829;')
							.color-custom
								input#color-7.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-7' style='background: #35ba2b;')
							.color-custom
								input#color-8.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-8' style='background:#926547;')
							.color-custom
								input#color-9.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-9' style='background: #f1d9b2;')
							.color-custom
								input#color-10.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-10' style='background: #36a1ff;')
							.color-custom
								input#color-11.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-11' style='background:#fec701;')
							.color-custom
								input#color-12.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-12' style='background:#c5172d;')
							.color-custom
								input#color-13.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-13' style='background:#96c;')
							.color-custom
								input#color-14.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-14' style='background:#fde90f;')
							.color-custom
								input#color-15.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-15' style='background:#f96;')
							.color-custom
								input#color-16.color-custom__input(type='checkbox')
								label.color-custom__label(for='color-16' style='background:#ffc0cb;')
				.col-xl-4.col-lg-6
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							.modal-filter__range-wrap
								input.input-range-single(data-max='15' data-min='0' type='text')
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy; &scy;&icy;&dcy;&iecy;&ncy;&icy;&jcy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Tcy;&kcy;&acy;&ncy;&softcy; 
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Kcy;&ocy;&zhcy;&acy; 
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Tcy;&icy;&pcy; &dcy;&vcy;&icy;&gcy;&acy;&tcy;&iecy;&lcy;&yacy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Bcy;&iecy;&ncy;&zcy;&icy;&ncy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Dcy;&icy;&zcy;&iecy;&lcy;&softcy;
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Ocy;&bcy;&hardcy;&iecy;&mcy; &dcy;&vcy;&icy;&gcy;&acy;&tcy;&iecy;&lcy;&yacy;, &lcy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.modal-filter__range-wrap.showhide-all__inner
							input.input-range(data-max='6' data-min='1' type='text')
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Pcy;&rcy;&icy;&vcy;&ocy;&dcy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.showhide-all__inner
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Pcy;&iecy;&rcy;&iecy;&dcy;&ncy;&icy;&jcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Zcy;&acy;&dcy;&ncy;&icy;&jcy;
							label.custom-input
								input.custom-input__input(type='checkbox')
								span.custom-input__lab
								span &Pcy;&ocy;&lcy;&ncy;&ycy;&jcy;
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Mcy;&ocy;&shchcy;&ncy;&ocy;&scy;&tcy;&softcy;, &lcy;.&scy;.
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.modal-filter__range-wrap.showhide-all__inner
							input.input-range(data-max='550' data-min='60' type='text')
					.modal-filter__item.hover-block
						.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
							.col &Rcy;&acy;&scy;&khcy;&ocy;&dcy; &tcy;&ocy;&pcy;&lcy;&icy;&vcy;&acy;, &lcy;/100&kcy;&mcy;
							.col-auto
								// тут убираешь класс  .gray  когда будет выбран пункт
								.modal-filter__choice-text.gray
									| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
						.modal-filter__range-wrap.showhide-all__inner
							input.input-range(data-max='30' data-min='4' type='text')
				.col-xl-4
					.row
						.col-xl-12.col-lg-6
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Ocy;&bcy;&hardcy;&iecy;&mcy; &bcy;&acy;&gcy;&acy;&zhcy;&ncy;&icy;&kcy;&acy;, &lcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray
											| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.modal-filter__range-wrap.showhide-all__inner
									input.input-range(data-max='2000' data-min='100' type='text')
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Lcy;&yucy;&kcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray
											| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									label.custom-input
										input.custom-input__input(type='radio' name='filter-1')
										span.custom-input__lab
										span &Dcy;&acy;
									label.custom-input
										input.custom-input__input(type='radio' name='filter-1')
										span.custom-input__lab
										span &Ncy;&iecy;&tcy;
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Fcy;&acy;&rcy;&kcy;&ocy;&pcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray
											| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									label.custom-input
										input.custom-input__input(type='radio' name='filter-2')
										span.custom-input__lab
										span &Dcy;&acy;
									label.custom-input
										input.custom-input__input(type='radio' name='filter-2')
										span.custom-input__lab
										span &Ncy;&iecy;&tcy;
						.col-xl-12.col-lg-6
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Rcy;&iecy;&jcy;&lcy;&icy;&ncy;&gcy;&icy; &ncy;&acy; &kcy;&rcy;&ycy;&shcy;&iecy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray
											| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									label.custom-input
										input.custom-input__input(type='radio' name='filter-3')
										span.custom-input__lab
										span &Dcy;&acy;
									label.custom-input
										input.custom-input__input(type='radio' name='filter-3')
										span.custom-input__lab
										span &Ncy;&iecy;&tcy;
							.modal-filter__item.hover-block
								.modal-filter__head-row.row.showhide.btn-click.align-items-center.small
									.col &Tcy;&ocy;&ncy;&icy;&rcy;&ocy;&vcy;&kcy;&acy; &zcy;&acy;&dcy;&ncy;&icy;&khcy; &scy;&tcy;&iecy;&kcy;&ocy;&lcy;
									.col-auto
										// тут убираешь класс  .gray  когда будет выбран пункт
										.modal-filter__choice-text.gray
											| &Ncy;&iecy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ocy;
								.showhide-all__inner
									label.custom-input
										input.custom-input__input(type='radio' name='filter-1-4')
										span.custom-input__lab
										span &Dcy;&acy;
									label.custom-input
										input.custom-input__input(type='radio' name='filter-1-4')
										span.custom-input__lab
										span &Ncy;&iecy;&tcy;